.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    &__icon {
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            margin-right: 8px;
            font-size: 25px;
        }

        &__label {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            line-height: 24px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        justify-content: center;

        &__item {
            margin: 5px 10px;
            font-size: 16px;
            color: #54595f;
            cursor: pointer;
            text-align: center;

            &:hover {
                transition: 0.4s;
                font-weight: bold;

                color: darken(#54595f, 40);
            }
        }
    }

    &__icon-menu {
        display: none;
        align-items: center;
        font-size: 25px;
        color: #54595f;
        cursor: pointer;
        padding: 5px 15px 5px 0px;
    }
}

@media screen and (max-width: 768px) {
    .header__actions {
        display: none;
    }

    .header__icon-menu {
        display: flex;
    }
}
