<div class="blog">
    <h1>Nuestros Blogs</h1>
    <p class="blog__description">Este es un espacio para ti,
        una recopilación de mis viajes por diferentes lugares de Colombia,
        encontraras recomendaciones, precios, rutas, planes y mucho mas.</p>

    <div class="blog__blogs">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="blog__blogs__first">
                    <div class="blog__blogs__filter"></div>
                    <div class="blog__blogs__body">
                        <p class="blog__blogs__body__title">La Guajira</p>
                        <p class="blog__blogs__body__description">
                            En esta region desertica encontraras paisajes, personas y lugares increibles</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="col-sm-12">
                    <div class="blog__blogs__second blog__blogs__second--santa-marta ">
                        <div class="blog__blogs__filter"></div>
                        <div class="blog__blogs__body blog__blogs__body__horizontal">
                            <p class="blog__blogs__body__title">Santa Marta</p>
                            <p class="blog__blogs__body__description">
                                Dejate envolver por la belleza de sus playas, su riqueza cultural y la historia de la
                                ciudad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="blog__blogs__second blog__blogs__second--purace">
                        <div class="blog__blogs__filter"></div>
                        <div class="blog__blogs__body blog__blogs__body__horizontal">
                            <p class="blog__blogs__body__title">Purace</p>
                            <p class="blog__blogs__body__description">
                                Si imaginaste un lugar de otro planeta con aguas color turqueza este es lugar indicado
                                para ti.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>