.phrase {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 80px;

    &__desc {
        font-size: 20px;
        margin-top: 20px;
        color: #19191b66;
        font-weight: 300;
    }
}
