.card {
}

.content-cards {
    position: relative;
    border: 1px solid red;
    justify-content: center;
}

.item {
    width: 200px;
}
.masonry {
    max-width: 950px;
    width: 100%;
    /*  */
}

.grid:after {
    display: block;
    clear: both;
    width: 100%;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }