<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="item">
                    <div class="item__label">
                        <h5>Nuestro equipo</h5>
                        <div class="item__label__divider"></div>
                    </div>

                    <div class="item__options">
                        <p class="item__options__act">Contactame</p>
                        <p class="item__options__act">Colaboraciones</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="item">
                    <div class="item__label">
                        <h5>Estamos trabajando:</h5>
                        <div class="item__label__divider"></div>
                    </div>

                    <div class="item__options">
                        <p class="item__options__act item__options__act--only-read">Alianzas</p>
                        <p class="item__options__act item__options__act--only-read">Guías</p>
                        <p class="item__options__act item__options__act--only-read">Campañas</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="item">
                    <div class="item__label">
                        <h5>Mis redes:</h5>
                        <div class="item__label__divider"></div>
                    </div>

                    <div class="item__options item__options--icon">
                        <div class="item__options--icons">
                            <div class="item__options__icon">
                                <i class='fab fa-facebook-f'></i>
                            </div>
                            <div class="item__options__icon">
                                <i class='fab fa-instagram'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>