<div class="about-us">
    <h1>Un poco de mi</h1>
    <p class="about-us__description">Colecciono momentos a travez de mis viajes, viviendo la experiencia de conociendo
        nuevos lugares, culturas y personas.</p>


    <div class="row about-us__imgs">
        <div class="col-md-6 col-lg-4 about-us__imgs__cnt">
            <div class="about-us__imgs__img about-us__imgs--cocha"></div>
        </div>
        <div class="col-md-6 col-lg-4 about-us__imgs__cnt">
            <div class="about-us__imgs__img about-us__imgs--guajira"></div>
        </div>
        <div class="col-md-12 col-lg-4 about-us__imgs__cnt">
            <div class="about-us__imgs__img about-us__imgs--lajas"></div>
        </div>

    </div>
</div>