<div class="header">
    <div class="header__icon">
        <i class='far fa-compass'></i>
        <p class="header__icon__label">Los viajes de Jham</p>
    </div>

    <div class="header__actions">
        <div class="header__actions__item">
            <p>Viaja por Colombia</p>
        </div>
        <div class="header__actions__item">
            <p>¡Contactame!</p>
        </div>  
    </div>

    <div class="header__icon-menu" (click)="openSideNav()">
        <i class='fas fa-align-justify'></i>
    </div>
</div>
