.footer {
    margin-top: 30px;
    padding: 40px 0;
    background-color: #0d1436;
}

.item {
    color: white;

    &__label {
        &__divider {
            width: 80px;
            border: 1px solid #ff1d52;
        }
    }

    &__options {
        margin-top: 10px;

        &--icons {
            display: flex;
            margin-top: 15px;
        }

        &__icon {
            border-radius: 50%;
            border: 1px solid white;
            width: 35px;
            height: 35px;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #0d1436;
            background-color: white;
            cursor: pointer;
            font-size: 15px;
        }

        &__act {
            padding: 5px 0;
            font-weight: 300;
            cursor: pointer;
            font-size: 14px;

            &--only-read {
                cursor: default !important;
            }
        }
    }
}

.rights {
    margin-top: 30px;

    &__divider {
        width: 100%;
        border-top: 1px solid white;
    }

    &__text {
        color: white;
        font-size: 15px;
        margin-top: 15px;
        font-weight: 300;
    }
}

@media screen and (max-width: 767px) {
    .item {
        margin-bottom: 30px;
    }
}
